@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  max-width: 1920px;
  margin: auto;
}
:root {
  --greenColor: #178a1f;
  --lightGreenColor: #59a05e;
}
.header {
  width: 100%;
  font-size: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  min-height: 56vh;
  padding: 20px;
}
main,
footer {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 116px;
  padding: 17px;
  display: flex;
  align-items: center;
}
.navbar .logo {
  width: 30%;
}
.menu {
  border: 1px solid #d5d5d5;
  padding: 8px;
  display: none;
  cursor: pointer;
}
.navbar .navMenu {
  display: flex;
  width: 70%;
  gap: 70px;
}
.navbar ul li a {
  color: #d5d5d5;
  font-weight: 300;
}
.navbar ul li a.active,
.navbar .logo a {
  color: #000000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.line {
  margin: 56px auto;
  width: 130px;
  height: 2px;
  background-color: var(--greenColor);
}
.main-footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 75px 20px 23px;
}
.main-footer h3 {
  text-align: center;
  margin-top: 20px;
}
.main-footer-row1 {
  max-width: 1478px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer-row1 a {
  color: #000000;
}
.main-footer-row1 ul li:not(:first-child) {
  margin-top: 56px;
}
.main-footer-row1 .icons a:not(:last-child) {
  margin-right: 72px;
  cursor: pointer;
}
button {
  max-width: 271px;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--greenColor);
  border: 1px solid var(--greenColor);
  color: white;
  transition: all 1s ease-in;
}

button:hover {
  transform: scaleY(1.1);
  background-color: var(--lightGreenColor);
}
input:focus,
textarea:focus {
  outline-color: var(--greenColor);
}
.scale-in-top {
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@media (max-width: 584px) {
  .navbar {
    padding: 7px;
    font-size: 16px;
  }
  .navbar .navMenu {
    gap: 19px;
    justify-content: center;
  }
  .main-footer-row1 ul li:not(:first-child) {
    margin-top: 20px;
  }
  .main-footer-row1 .icons a:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 375px) {
  .navbar {
    padding: 7px;
    height: 50px;
    font-size: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navbar .logo {
    width: 85%;
  }
  .navbar .navMenu {
    display: none;
  }
  .menu {
    width: 10%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line {
    width: 90px;
  }
  .navbar .logo {
    font-size: 20px;
  }
  .main-footer {
    padding: 48px 20px 71px;
  }
  .main-footer-row1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .icons {
    align-self: center;
  }
  .icons img {
    width: 40px;
    height: 40px;
  }
  p {
    font-size: 14px;
  }
  .navbar .navMenu.open {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  .navbar.ul-opened {
    height: fit-content;
    gap: 10px;
  }
}
